<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/page.css}" rel="stylesheet"/>
</head>
<body>

    <h1><i class="fa-sharp fa-solid fa-magnifying-glass"></i>Search</h1>

    <div class="container">
        <form action="" class="search-bar">
            <input type="text" id="searchBox" oninput="searchResult()" autocomplete="off" placeholder="Search Here (Song, !Genre, @Artist, $Year)">
        </form>
    </div>

    <div id="searchResult">
    </div>

    <div id="defualtResult" hidden>
        <p>Search for a song.</p>
    </div>

</body>
</html>