<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="css/index.css" rel="stylesheet">
    <script src="js/index.js"></script>
</head>
<body>


    <div id="demo">
    </div>


    
    <audio controls id="audio">
        <source src="" type="audio/wav">
    </audio>

    <div>
        <button type="button" onclick="homePage()">Home</button>
        <button type="button" onclick="searchPage()">Search</button>
        <button type="button" onclick="libraryPage()">Library</button>
        <button type="button" onclick="accountPage()">Account</button>
    </div>

</body>
</html>