<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="css/index.css" rel="stylesheet">
    <script src="js/index.js"></script>
</head>
<body>


    <div id="demo">
    </div>

    <audio controls id="audio">
        <source src="" type="audio/wav">
    </audio>

    <div>
        <button type="button" onclick="home()">Home</button>
        <button type="button" onclick="search()">Search</button>
        <button type="button" onclick="library()">Library</button>
        <button type="button" onclick="account()">Account</button>
    </div>

</body>
</html>