<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="css/index.css" rel="stylesheet">
    <script src="js/index.js"></script>
</head>
<body>

    <div class="dropdown" hidden>
        <div id="myDropdown" class="dropdown-content" hidden>
        </div>
    </div>

    <div id="myOverlay" class="overlay">
        <div class="overlay-content">
          <form onsubmit="addPlaylist(this); return false">
            <input type="text" placeholder="Add Playlist name..." autocomplete="off" required id="playlistName">
            <button type="submit">ADD</button>
          </form>
        </div>
    </div>

    <div class="popup">
        <span class="popuptext" id="myPopup">popup msg</span>
    </div>

    <div id="bg">
        <div id="demo">
    </div>

    <div>
        <div id="prevSong"></div>
        <div id="nextSong"></div>
        <div id="songName"></div>
        <audio controls id="audio">
            <source src="" type="audio/wav">
        </audio>
        <div id="likeButton"></div>
        <div id="a2pl"></div>
    </div>

    <div>
        <button type="button" onclick="homePage()">Home</button>
        <button type="button" onclick="searchPage()">Search</button>
        <button type="button" onclick="libraryPage()">Library</button>
        <button type="button" onclick="accountPage()">Account</button>
    </div>

</body>
</html>