<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"rel="stylesheet">
</head>
<body>
    <h1>Database Manager</h1>

    <div>
    <a th:href="@{/admin/music-database}"><button>Music Database</button></a><br>
    <a th:href="@{/admin/genre-database}"><button>Genre Database</button></a><br>
    <a th:href="@{/admin/user-database}"><button>User Database</button></a><br>
    <a th:href="@{/admin/artist-database}"><button>Artist Database</button></a><br>
    <a th:href="@{/admin/fav-database}"><button>Favorite Database</button></a><br>
    <a th:href="@{/admin/playlist-database}"><button>Playlist Database</button></a><a th:href="@{/admin/containerPlaylist-database}"><button>(contains)</button></a><br>
    <a th:href="@{/admin/album-database}"><button>Album Database</button></a><a th:href="@{/admin/containerAlbum-database}"><button>(contains)</button></a><br>
    </div><br>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
    </form>

</body>
</html>