<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>

    <h1>Album Database</h1>
    <a th:href="@{/admin}"><button>Go back</button></a><br>

    <div th:if="${pageMessage}">
        <p>[[${pageMessage}]]</p>
    </div><br>

    <form th:action="@{/admin/album-database/find}" method="get">
        <label>album(id):</label><input type="number" name="id" th:value="${id}">
        <label>album(name):</label><input type="text" name="name" th:value="${name}">
        <label>artist(id):</label><input type="number" name="artist" th:value="${artist}">
        <button type="submit">Find</button>
        <a th:href="@{/admin/album-database}"><button type="button">Reset</button></a>
    </form>


    <a th:href="@{/admin/album-database/add}"><button>Add new album</button></a><br>

     <div>
        <table>
        <thead><tr>
            <th>Album ID</th>
            <th>Album Name</th>
            <th>Artist ID (Name)</th>
            <th></th>
        </tr></thead>
        <tbody><th:block th:each="album: ${albums}"><tr>
            <td>[[${album.id}]]</td>
            <td>[[${album.name}]]</td>
            <td>[[${album.artist.id}]] ([[${album.artist.name}]])</td>
            <td><a th:href="@{'/admin/album-database/edit-id-' + ${album.id}}"><button>Edit</button></a>
                <a th:href="@{'/admin/album-database/delete-id-' + ${album.id}}"><button>Delete</button></a>
        </th:block>
        </tbody>
        </table>
    </div>

</body>
</html>