<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>

    <h1>Artist Database</h1>
    <a th:href="@{/admin}"><button>Go back</button></a><br>

     <div>
        <table>
        <thead><tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr></thead>
        <tbody><th:block th:each="artist: ${artistList}"><tr>
            <td>[[${artist.id}]]</td>
            <td>[[${artist.name}]]</td>
        </th:block>
        </tbody>
        </table>
    </div>

</body>
</html>