<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>

    <h1>Playlist container Database</h1>
    <a th:href="@{/admin}"><button>Go back</button></a><br>

     <div>
        <table>
        <thead><tr>
            <th>Playlist ID (name)</th>
            <th>Music ID (name)</th>
            <th></th>
        </tr></thead>
        <tbody><th:block th:each="container: ${containers}"><tr>
            <td>[[${container.playlist.id}]] ([[${container.playlist.name}]])</td>
            <td>[[${container.music.id}]] ([[${container.music.name}]])</td>
        </th:block>
        </tbody>
        </table>
    </div>

</body>
</html>