<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>

    <h1>Favorite Database</h1>
    <a th:href="@{/admin}"><button>Go back</button></a><br>

     <div>
        <table>
        <thead><tr>
            <th>User ID (email)</th>
            <th>Music ID (name)</th>
            <th></th>
        </tr></thead>
        <tbody><th:block th:each="fav: ${favList}"><tr>
            <td>[[${fav.user.id}]] ([[${fav.user.email}]])</td>
            <td>[[${fav.music.id}]] ([[${fav.music.name}]])</td>
        </th:block>
        </tbody>
        </table>
    </div>

</body>
</html>