<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>

    <h1>[[${pageMessage}]]</h1>

    <form th:action="@{/admin/genre-database/save}" th:object="${genre}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"><br>
        <label>name:</label><input type="text" th:field="*{name}" required><br>
        <button type="submit">Save</button>
        <a th:href="@{/admin/genre-database}"><button type="button">Cancel</button></a>
    </form>

</body>
</html>