<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="xidth=device-width, initial-scale=1.0">
        <title>Music Streaming</title>
        <link 
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" 
            rel="stylesheet"
        />  
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        
        <div class="sidebar">
            <div class="logo">
                <a href="#">
                    <img src="media/logo.png" alt="Logo" />
                </a>
            </div>

            <div class="navigation">
                <ul>
                    <li>
                        <a href="">
                            <span class="fa fa-home"></span>
                            <span>Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fa-search"></span>
                            <span>Search</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fas fa-book"></span>
                            <span>Your Library</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="navigation">
                <ul>
                    <li>
                        <a href="">
                            <span class="fa fas fa-plus-square"></span>
                            <span>Create Playlist</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="fa fas fa-heart"></span>
                            <span>Liked Songs</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="policies">
                <ul>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-container">
            <div class="topbar">
                <div class="prev-next-buttons">
                    <button type="button" class="fa fas fa-chevron-left"></button>
                    <button type="button" class="fa fas fa-chevron-right"></button>
                </div>

                <div class="navbar">
                    <ul>
                        <li>
                            <a href="#">Support</a>
                        </li>
                        <li>
                            <a href="#">Download</a>
                        </li>
                        <!-- <li>
                            <a href="#">Support</a>
                        </li> -->
                        <li class="divider"> | </li>
                        <li>
                            <a href="#">Sign Up</a>
                        </li>
                    </ul>
                    <button type="button">Log In</button>
                </div>
            </div>

            <div class="recommend">
                <h2>Recommend</h2>

                <div class="list">
                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>Today's Top His</h4>
                        <p>Maroon 5 is on top of the Hottest 50!</p>
                    </div>

                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>RapCaviar</h4>
                        <p>Music from Drake, 21 Savage and ...</p>
                    </div>

                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>All Out 2010s</h4>
                        <p>The biggest songs of the 2010s.</p>
                    </div>

                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>Rock Classics</h4>
                        <p>Rock legends & epic songs that continu...</p>
                    </div>

                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>Chill Hits</h4>
                        <p>Kick back to the best new and recent chill hits.</p>
                    </div>

                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>Viva Latino</h4>
                        <p>Today's top Latin hits, elevando nues...</p>
                    </div>

                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>Mega Hit Mix</h4>
                        <p>A mega mix of 75 favorites from the last few...</p>
                    </div>
                </div>
            </div>

            <div class="recommend">
                <h2>Your Playlists</h2>
                <div class="list">
                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>Playlist #1</h4>
                        <p>1st Playlist</p>
                    </div>

                    <div class="item">
                        <img src="media/playlist.jpg" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>Playlist #2</h4>
                        <p>2nd Playlist</p>
                    </div>
                    </div>
                </div>
        </div>

        <script
            src="https://kit.fontawesome.com/23cecef777.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
